body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
}
#map {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#sidebar {
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: #f8f9fa;
  transition: 0.3s;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
#sidebar.active {
  left: 0;
}
#toggle-btn {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 4px 4px 0; /* Round only right corners */
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#toggle-btn.active {
  left: 300px;
}

#toggle-btn:hover {
  background-color: #f8f9fa;
}

.list-group-item {
  border-left: none;
  border-right: none;
  padding: 12px 15px;
  transition: all 0.3s;
}

.list-group-item:hover {
  background-color: #e9ecef;
  transform: translateX(5px);
}

.custom-popup .leaflet-popup-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 18px;
  color: #666;
  border: none;
  background: none;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
  line-height: 1;
}

.custom-popup .leaflet-popup-close-button:hover {
  color: #333;
  transform: scale(1.2);
  background: none;
}

.custom-popup .leaflet-popup-content-wrapper {
  padding: 5px;
  border-radius: 8px;
}

#sidebar,
#navbar,
#toggle-btn {
  transition: left 0.3s ease-in-out;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 0px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 350px; /* Adjusted from 3300px */
  height: 50px;
  transition: left 0.3s ease-in-out;
}

.search-box input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  color: #333;
}

.search-box i {
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-box i:hover {
  color: orangered;
}

h5.list-group-item {
  pointer-events: none; /* Prevents any interaction */
  color: #212529 !important; /* Matches Bootstrap's default text color */
}

.list-group-item.active-region {
  background-color: #e9ecef;
  font-weight: bold;
}

.list-group-item.active-region .fa-eye-slash {
  display: none;
}

.list-group-item.active-region .fa-eye {
  display: inline-block;
}

.list-group-item .fa-eye {
  display: none;
}

.list-group-item:not(.active-region) .fa-eye-slash {
  display: inline-block;
}
